.data-container {
    margin: 70px auto 0;
    padding: 10px 0 0;
    background-color: rgb(10, 70, 78);
    color: white;
    width: 50%;
    border-radius: 10px;
    text-align: center;
}

.user-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(47, 78, 82);
    padding: 10px;
}

.img > img {
    width: 200px;
}

.user-info, .user-info2 {
    text-align: left;
    margin: 2px 5px;
}

.user-info p {
    font-weight: bold;
}

p {
    margin: 0 0 5px 5px;
}