button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  background-color: rgb(43, 95, 102);
  font-weight: bold;
  color: white;
}

button:hover {
  background-color: rgb(95, 125, 129);
  color: rgb(21, 50, 54);
}

.button-container {
  margin: 10px auto;
  padding: 10px 0;
  background-color: rgb(10, 70, 78);
  color: white;
  width: 50%;
  border-radius: 0 0 10px 10px;
  text-align: center;
}